<h1 (click)="evento()" class="mt-5">Pokemons</h1>
<hr>

<input
    type="text"
    placeholder="Buscar pokemon"
    class="form-control mb-2 "
    #txtSearch
    (keyup)="onSearchPokemon(txtSearch.value)"
 />

<button type="button" pButton  class="p-button-raised p-button-warning bg-orange-800 p-button-text" (click)="ngOnInit()" >Reset</button>
&nbsp; 
<button type="button" pButton  class="p-button-raised p-button-warning bg-orange-800 p-button-text" [disabled]="0 >= page" (click)="previousPage()" >Anteriores</button>
&nbsp; 
<button type="button" pButton  class="p-button-raised p-button-warning bg-orange-800 p-button-text" [disabled]="3 > (pokemonsShow | filtro:page:search).length" (click)="nextPage()" >Siguientes</button>
&nbsp; 
<button type="button" pButton  class="p-button-raised p-button-warning bg-orange-800 p-button-text" (click)="orderAZ()">A - Z</button>
&nbsp; 
<button type="button" pButton  class="p-button-raised p-button-warning bg-orange-800 p-button-text" (click)="orderZA()">Z - A</button>
&nbsp; 
<button type="button" pButton  class="p-button-raised p-button-warning bg-orange-800 p-button-text" (click)="orderbyStronger()" >Más Fuerte</button>
&nbsp; 
<button type="button" pButton  class="p-button-raised p-button-warning bg-orange-800 p-button-text" (click)="orderbyWeaker()" >Más Débil</button>
&nbsp; 
<button type="button" pButton  class="p-button-raised p-button-warning bg-orange-800 p-button-text" (click)="getPokemonsCreados()" > Pokemons Creados</button>
&nbsp; 
<button type="button" pButton  class="p-button-raised p-button-warning bg-orange-800 p-button-text"> <a [ngStyle]="{'color' : '#FBC02D', 'text-decoration' : 'none'}" routerLink="/newpokemon" > Crear un pokemon </a></button>

<select [ngStyle]="{'margin' : '30px 0px'}" class="form-select" #mySelect (change)="filterByType(mySelect.value)">
    <option value="limpiar">Todos</option>
    <option *ngFor="let tipo of types" [value]="tipo">{{tipo}}</option>
</select>

<div class="flex flex-wrap justify-content-center card-container gap-4">
    <app-pokemoncard routerLink="/pokemon/{{pokemon.id}}" *ngFor="let pokemon of pokemonsShow | filtro:page:search" [pokecard]="pokemon"></app-pokemoncard>
</div>


    <!-- <table *ngIf="pokemonsShow.length" class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Imagen</th>
                <th>Tipo</th>
                <th>Ataque</th>
            </tr>
        </thead>
        <tbody>
            <tr [ngStyle]="{'height' : '150px'}" *ngFor="let pokemon of pokemonsShow | filtro:page:search">
                
                    <td [ngStyle]="{'width' : '200px'}">
                        <a [ngStyle]="{'color' : 'black', 'text-decoration' : 'none'}" routerLink="/pokemon/{{pokemon.id}}">{{pokemon.id}}</a>
                    </td>

                    <td [ngStyle]="{'width' : '250px'}">
                        <a [ngStyle]="{'color' : 'black', 'text-decoration' : 'none'}" routerLink="/pokemon/{{pokemon.id}}">{{pokemon.name}}</a>
                    </td>
                    <td>
                        <a [ngStyle]="{'color' : 'black', 'text-decoration' : 'none'}" routerLink="/pokemon/{{pokemon.id}}">
                            <img src="{{pokemon.pic}}" [ngStyle]="{'width' : '100px'}" />
                        </a>
                    </td>
                    <td>
                         <span class="badge" [ngStyle]= "{'background-color' : poke | colorBackground}" *ngFor="let poke of pokemon.tipos">{{poke}}</span> -->


                        <!-- <span class="badge" [ngClass]= "poke | colorBackground" *ngFor="let poke of pokemon.tipos">{{poke}}</span> -->


                        <!-- <p-tag [ngStyle] = "{'margin' : '10px'}" styleClass= "text-lg {{poke | colorBackground}}" value="{{poke}}" *ngFor="let poke of pokemon.tipos"></p-tag>
                    </td>
                    <td>
                        <p *ngIf="pokemon.stats">{{pokemon.stats[1].points}}</p>
                    </td>
            </tr>
        </tbody>

    </table> --> 
