<h1 class="mt-5">Pokemons</h1>
<hr>

<input
    type="text"
    placeholder="Buscar pokemon"
    class="form-control mb-2 "
    #txtSearch
    (keyup)="onSearchPokemon(txtSearch.value)"
 />

<button class="btn btn-primary" (click)="ngOnInit()" >Reset</button>
&nbsp; 
<button class="btn btn-primary" (click)="previousPage()" >Anteriores</button>
&nbsp; 
<button class="btn btn-primary" (click)="nextPage()" [disabled] = "(pokemons | filtro:page:search).length === 0">Siguientes</button>
&nbsp; 
<button class="btn btn-primary" (click)="orderAZ()" >A - Z</button>
&nbsp; 
<button class="btn btn-primary" (click)="orderZA()" >Z - A</button>
&nbsp; 
<button class="btn btn-primary" (click)="orderbyStronger()" >Más Fuerte</button>
&nbsp; 
<button class="btn btn-primary" (click)="orderbyWeaker()" >Más Débil</button>
&nbsp; 
<select [ngStyle]="{'margin' : '30px 0px'}" class="form-select" #mySelect (change)="filterByType(mySelect.value)">
    <option value="limpiar">Todos</option>
    <option *ngFor="let tipo of types" [value]="tipo">{{tipo}}</option>
</select>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Imagen</th>
                <th>Tipo</th>
                <th>Ataque</th>
            </tr>
        </thead>
        <tbody>
            <tr  [ngStyle]="{'height' : '100px'}" *ngFor="let pokemon of pokemons | filtro:page:search">
                
                    <td [ngStyle]="{'width' : '200px'}">
                        <a [ngStyle]="{'color' : 'black', 'text-decoration' : 'none'}"href="/pokemon/{{pokemon.id}}">{{pokemon.id}}</a>
                    </td>

                    <td [ngStyle]="{'width' : '250px'}">
                        <a [ngStyle]="{'color' : 'black', 'text-decoration' : 'none'}" href="/pokemon/{{pokemon.id}}">{{pokemon.name}}</a>
                    </td>
                    <td>
                        <a [ngStyle]="{'color' : 'black', 'text-decoration' : 'none'}"href="/pokemon/{{pokemon.id}}">
                            <img src="{{pokemon.pic}}" [ngStyle]="{'width' : '100px'}" />
                        </a>
                    </td>
                    <td>
                        <p *ngFor="let poke of pokemon.tipos">{{poke}}</p>
                    </td>
                    <td>
                        <p *ngIf="pokemon.stats">{{pokemon.stats[1].points}}</p>
                    </td>
            </tr>
        </tbody>
    </table>