<h1 class="mt-5">Nuevo Pokemon</h1>
<hr>
<button class="btn btn-primary" (click)="goBack()">Volver</button>
<br>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Imagen</th>
            <th>Tipo</th>
            <th>Ataque</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <h6>{{newPokemon.name}}</h6>
            </td>
            <td>
                <img src="{{newPokemon.pic}}" [ngStyle]="{'width' : '100px'}" />
            </td>
            <td>
                <h6 *ngFor="let tipos of newPokemon.tipos">{{tipos}}</h6>
            </td>
            <td>
                <h6>{{newPokemon.stats[1].points}}</h6>
            </td>
        </tr>
    </tbody>
</table>



<div class="form-floating" [ngStyle]="{'margin' : '30px 0px'}">
    <input class="form-control" [(ngModel)]="newPokemon.name" type="text" placeholder="Nombre" id="floatingTextarea" />
    <label for="floatingTextarea">Nombre</label>
</div>

<label for="basic-url" class="form-label">Url Foto </label>
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
    <input type="text" class="form-control" [(ngModel)]="newPokemon.pic" id="basic-url" aria-describedby="basic-addon3">
</div>

<label [ngStyle]="{'margin' : '30px 0px 10px 0px'}">Tipo : </label>
<select class="form-select" #mySelect (change)="addType(mySelect.value)">
    <option *ngFor="let tipo of types" [value]="tipo">{{tipo}}</option>
</select>

<div class="container">
    <div class="row row-cols-2">
        <div class="col">
            <div class="form-floating" [ngStyle]="{'margin' : '50px 10px 10px'}">
                <input class="form-control" type="number" [(ngModel)]="newPokemon.stats[0].points" min="0"
                    placeholder="Nombre" id="floatingTextarea" />
                <label for="floatingTextarea">hp</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating" [ngStyle]="{'margin' : '50px 10px 10px'}">
                <input class="form-control" type="number" [(ngModel)]="newPokemon.stats[1].points" min="0"
                    placeholder="Nombre" id="floatingTextarea" />
                <label for="floatingTextarea">attack</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating" [ngStyle]="{'margin' : '50px 10px 10px'}">
                <input class="form-control" type="number" [(ngModel)]="newPokemon.stats[2].points" min="0"
                    placeholder="Nombre" id="floatingTextarea" />
                <label for="floatingTextarea">defense</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating" [ngStyle]="{'margin' : '50px 10px 10px'}">
                <input class="form-control" type="number" [(ngModel)]="newPokemon.stats[3].points" min="0"
                    placeholder="Nombre" id="floatingTextarea" />
                <label for="floatingTextarea">special-attack </label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating" [ngStyle]="{'margin' : '50px 10px 10px'}">
                <input class="form-control" type="number" [(ngModel)]="newPokemon.stats[4].points" min="0"
                    placeholder="Nombre" id="floatingTextarea" />
                <label for="floatingTextarea">special-defense </label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating" [ngStyle]="{'margin' : '50px 10px 10px'}">
                <input class="form-control" type="number" [(ngModel)]="newPokemon.stats[5].points" min="0"
                    placeholder="Nombre" id="floatingTextarea" />
                <label for="floatingTextarea">speed</label>
            </div>
        </div>
    </div>
</div>

<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-outline-success" (click)="addPokemon()" [ngStyle]="{'margin' : '50px 0px 0px'}"
        type="button">Crear Pokemon</button>
</div>
<br>