.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.item {
    border-radius: 7px;
    margin-bottom: 1px;
    margin-right: 8px;
    height: 30px;
    width: 150px ;
    padding: 1;
}